@font-face {
  font-family: "huakang";
  src: url("../public/font/shu_round.TTF");
  /* need to be ttf can't be ttc  */
}

html {
  cursor: url("../public/image/cursor.png"), auto;
  /* 尺寸需要32*32 */
}

head {
  margin: 0%;
}

body {
  font-family: "huakang";
  font-size: 40px;
  color: #a31cc5;
  background: url("../public/image/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  /* text-align: center; */

}



.bg {
  background-image: url(../public/image/bg.png);
  background-size: "cover";
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  position: fixed;
  bottom: 0.2%;
  width: 98%;
  text-align: right;
  padding: 0px 0px 0px 20px;
}

a {
  padding: 8px;
  cursor: url("../public/image/cursor2.png"), auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: url("../public/image/cursor2.png"), auto;
  outline: none;
}

#target_1 {
  position: absolute;
  top: 175px;
  left: 200px;
}

#target_2 {
  position: absolute;
  top: 400px;
  left: 620px;
}

#target_3 {
  position: absolute;
  top: 230px;
  left: 600px;
}

#target_4 {
  position: absolute;
  top: 280px;
  left: 150px;
}