@font-face {
  font-family: "huakang";
  src: url("../public/font/shu_round.TTF");
  /* need to be ttf can't be ttc  */
}

html {
  cursor: url("../public/image/cursor.png"), auto;
  /* 尺寸需要32*32 */
}

head {
  margin: 0%;
}

body {
  text-align: center;
  font-family: "huakang";
  font-size: 30px;
  color: #a31cc5;
  background: url("../public/image/bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}




.bg {
  background-image: url(../public/image/bg.png);
  background-size: "cover";
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  position: fixed;
  bottom: 0.2%;
  width: 98%;
  text-align: right;
  padding: 0px 0px 0px 20px;
}

a {
  padding: 8px;
  cursor: url("../public/image/cursor2.png"), auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: url("../public/image/cursor2.png"), auto;
  outline: none;
}

img {
  /* 禁用圖像式搜索 */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard syntax */
}

#target_1 {
  position: absolute;
  top: 165px;
  left: 220px;
}

#target_2 {
  position: absolute;
  top: 380px;
  left: 620px;
}

#target_3 {
  position: absolute;
  top: 230px;
  left: 560px;
}

#target_4 {
  position: absolute;
  top: 280px;
  left: 50px;
}

#target_5 {
  position: absolute;
  top: 270px;
  left: 870px;
}

#clickbtn {
  border: 0;
  background-color: #5b87ce;
  color: #fff;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}